# ==============================================================================
# CONFIGURACIÓN GENERAL DEL SISTEMA (NEXUS STORAGE)
# ==============================================================================

PORT=8080
ENV=development # development | production
APP_URL=http://localhost:8080
CLIENT_FRONTEND_URL=http://localhost:5173
ADMIN_FRONTEND_URL=http://localhost:5174

# Secretos de Seguridad
# Generar claves seguras en producción (ej: openssl rand -hex 32)
JWT_SECRET=super_secret_jwt_access_token_key_12345
JWT_REFRESH_SECRET=super_secret_jwt_refresh_token_key_54321
WEBHOOK_SECRET=nexus_storage_webhook_verification_secret_99999

# ==============================================================================
# BASE DE DATOS (PostgreSQL)
# ==============================================================================
DB_HOST=postgres
DB_PORT=5432
DB_USER=nexus_user
DB_PASSWORD=nexus_password
DB_NAME=nexus_storage
DB_SSLMODE=disable

# ==============================================================================
# CACHE Y COLAS (Redis)
# ==============================================================================
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis_password

# ==============================================================================
# MOTOR DE ALMACENAMIENTO (MinIO)
# ==============================================================================
MINIO_ENDPOINT=minio:9000
MINIO_PUBLIC_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=nexus_minio_admin
MINIO_SECRET_KEY=nexus_minio_admin_secret
MINIO_BUCKET_NAME=nexus-storage
MINIO_USE_SSL=false

# Cifrado en Reposo (MinIO Server Side Encryption - Opcional)
MINIO_SSE_MASTER_KEY=nexus-kms-key:32byteskeyforsecuringsubmittedfiles=

# ==============================================================================
# CONFIGURACIÓN DE NOTIFICACIONES DE MINIO (WEBHOOK)
# ==============================================================================
# Estas variables configuran el propio MinIO para avisar al backend cuando
# se complete una subida.
MINIO_NOTIFY_WEBHOOK_ENABLE_primary=on
MINIO_NOTIFY_WEBHOOK_ENDPOINT_primary=http://api:8080/api/v1/files/webhook
MINIO_NOTIFY_WEBHOOK_AUTH_TOKEN_primary=nexus_storage_webhook_verification_secret_99999
